### Setting up SQL database with Py using sqlite3

In [ ]:
! pip install sqlite3

In [5]:
import sqlite3
 
# Connect to SQLite and create a database
conn = sqlite3.connect("inflation_records.db")
cursor = conn.cursor() #cursor is like pointer or object for the database
 
# Create a table named "students" write every query in excute method
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        roll_no INTEGER,
        name TEXT,
        age INTEGER,
        grade TEXT,
        marks INTEGER
    )
''')

In [ ]:
import pandas as pd

df = pd.read_csv("./Data/inflation-CPI.csv")

# print(df['Country Name'])

print(df.pivot(columns=[2023]
    ))

In [ ]:
import pandas as pd

# Read data from the CSV file
df = pd.read_csv("./Data/inflation-CPI.csv")

# Convert years to strings
years = [str(year) for year in range(1950, 2024)]

# Pivot the DataFrame
pivot_df = df.pivot(columns=years)

# Display the pivoted DataFrame
print(pivot_df)

In [ ]:
# change df to sql table

pd.to_sql(con="", name="", )

In [ ]:
import sqlite3
 
# Connect to the database
conn = sqlite3.connect('students_database.db')  
cursor = conn.cursor()
 
# Execute a SELECT query on the "students" table
cursor.execute('SELECT * FROM students')
 
# Fetch all rows
rows = cursor.fetchall()
 
# Display the data
for row in rows:
    print(row)
 
# Close the database connection
conn.close()